<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 --> 
<!--  在dao包下创建一个UserMapper.xml文件作为上一步创建的DAO接口的实现。 -->

<mapper namespace="teacher.mapper.TeacherMapper">

	<resultMap id="studentResultMap" type="tStudent">
		<id column="id" property="id"/>
		<result column="sname" property="sname"/>
		<result column="sno" property="sno" />
		<result column="grade" property="grade" />
		<result column="professionName" property="professionName"/>
		<result column="departmentName" property="departmentName" />
	</resultMap>
	
	
	<select id="countCnoFromCourseTable" resultType="INT">
		select count(1) from coursetongxuan where cno = #{cno}
	</select>
	
	<insert id="insertCourse">
		insert into coursetongxuan(cno,cname,ctype,ctime,credit,total,margin,tno) values(#{cno},#{cname},#{ctype},#{ctime},#{creditInt},#{totalInt},#{margin},#{tno})
	</insert>
	
	<select id="getCourseByTno" resultType="CourseTongXuan">
		select * from coursetongxuan where tno = #{tno} order by cno
	</select>
	
	<delete id="deleteCourse">
		delete from coursetongxuan where cno = #{cno};
	</delete>
	
	<delete id="deleteSelectCourseByCno">
		delete from selectCourse where cno = #{cno};
	</delete>
	
	<select id="getStudent" resultMap="studentResultMap">
		select s.*,p.professionName,d.departmentName
		from student s
		left JOIN selectcourse sc on s.sno = sc.sno
		left join profession p on s.professionno = p.professionNo
		left join department d on p.departmentNo = d.departmentNo
		where sc.cno = #{cno}
	</select>
	
</mapper>