<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 --> 
<!--  在dao包下创建一个UserMapper.xml文件作为上一步创建的DAO接口的实现。 -->

<mapper namespace="admin.mapper.AdminMapper">

	
	<resultMap type="aStudent" id="aStudentResultMap">
		<id column="id" property="id"/>
		<result column="sname" property="sname"/>
		<result column="sno" property="sno"/>
		<result column="grade" property="grade"/>
		<result column="professionName" property="professionName"/>
		<result column="departmentName" property="departmentName"/>
	</resultMap>
	
	<resultMap type="aTeacher" id="aTeacherResultMap">
		<result column="tname" property="tname"/>
		<result column="tno" property="tno"/>
		<result column="departmentNo" property="departmentNo"/>
		<result column="departmentName" property="departmentName"/>
	</resultMap>
	
	<select id="countUserContact" resultType="INT">
		select count(1) from user_contact
	</select>
	
	<select id="getAllStudent" resultMap="aStudentResultMap">
		select s.id,s.sname,s.sno,s.grade,p.professionName,d.departmentName
		from student s
		LEFT JOIN profession p on s.professionno = p.professionNo
		left join department d on p.departmentNo = d.departmentNo
		order by d.departmentName,p.professionName,s.grade,s.sno
	</select>
	
	<select id="deleteStudentBySno" resultType="INT">
		call pro_deleteStudentByAdmin(#{sno})
	</select>
	
	<select id="getStudentBySno" resultMap="aStudentResultMap">
		select s.id,s.sname,s.sno,s.grade,p.professionName,d.departmentName
		from student s
		LEFT JOIN profession p on s.professionno = p.professionNo
		left join department d on p.departmentNo = d.departmentNo
		where s.sno = #{sno}
	</select>
	
	
	<select id="getAllTeacher" resultMap="aTeacherResultMap">
		select t.* , d.*
		from teacher t
		LEFT JOIN department d on t.departmentNo = d.departmentNo
	</select>
	
</mapper>