<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 --> 
<!--  在dao包下创建一个UserMapper.xml文件作为上一步创建的DAO接口的实现。 -->

<mapper namespace="mapper.CourseTongXuanMapper">
	
	

	<resultMap id="BaseResultMap" type="CourseTongXuan">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="cno" property="cno" jdbcType="VARCHAR"/>
		<result column="cname" property="cname" jdbcType="VARCHAR"/>
		<result column="ctime" property="ctime" jdbcType="VARCHAR"/>
		<result column="credit" property="credit" jdbcType="INTEGER"/>
		<result column="total" property="total" jdbcType="INTEGER"/>
		<result column="margin" property="margin" jdbcType="INTEGER"/>
		<!-- <result column="tno" property="tno" jdbcType="VARCHAR"/> -->

	</resultMap>
	
	<select id="selectByCountryQueryModel" resultMap="BaseResultMap">
    select * from courseTongXuan
    <where>
      <if test="tno != null">
        and id = #{tno}
      </if>
    </where>

  </select>

</mapper>