<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  


<mapper namespace="mapper.SearchHelpMapper">
	
	<select id="searchAutoCompleteName" resultType="STRING">
		select cname from courseTongxuan;
	</select>
	
	<select id="searchCourseByCourseName" resultMap="mapper.StudentMapper.courseTongXuanResult">
		SELECT c.*,t.*,d.*
		from coursetongxuan c
		LEFT JOIN teacher t on c.tno = CONVERT(t.tno USING utf8) COLLATE utf8_unicode_ci
		left join department d on t.departmentNo = CONVERT(d.departmentNo USING utf8) COLLATE utf8_unicode_ci
		where cname = #{courseName};
	</select>
	
</mapper>