<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 --> 
<!--  在dao包下创建一个UserMapper.xml文件作为上一步创建的DAO接口的实现。 -->

<mapper namespace="mapper.StudentMapper">
	<resultMap type="CourseTongXuan" id="courseTongXuanResult">
		<id column="id" property="id" />
		<result column="cno" property="cno"/>
		<result column="cname" property="cname" />
		<result column="ctime" property="ctime" />
		<result column="ctype" property="ctype"/>
		<result column="credit" property="credit" />
		<result column="total" property="total" />
		<result column="margin" property="margin" />
		<association property="teacher" javaType="Teacher">
			<id property="tno" column="tno"/>
			<result property="tname" column="tname"/>
			<result property="password" column="password"/>
			<association property="department" javaType="Department">
				<id property="departmentNo" column="departmentNo"/>
				<result property="departmentName" column="departmentName"/>
			</association>

		</association>
	</resultMap>
	
	<select id="findAllCourseTongXuan" resultMap="courseTongXuanResult" >
		SELECT c.*,t.*,d.*
		from coursetongxuan c
		LEFT JOIN teacher t on c.tno = CONVERT(t.tno USING utf8) COLLATE utf8_unicode_ci
		left join department d on t.departmentNo = CONVERT(d.departmentNo USING utf8) COLLATE utf8_unicode_ci

	</select>
	
	<select id="countCourseTongXuan" resultType="int" statementType="CALLABLE">
		call pro_getTableRows('courseTongXuan')
	</select>
	
	
	
</mapper>