<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 --> 
<!--  在dao包下创建一个UserMapper.xml文件作为上一步创建的DAO接口的实现。 -->

<mapper namespace="mapper.UserMapper">
	
	<resultMap type="Student" id="studentResult">
		<id property="id" column="id"/>
		<result property="sname" column="sname"/>
		<result property="sno" column="sno"/>
		<result property="grade" column="grade"/>
		<result property="password" column="password"/>
		<result property="usertype" column="usertype"/>
		<association property="credit" javaType="Credit">
			<id property="sno" column="sno"/>
			<result property="required" column="required"/>
			<result property="selected" column="selected"/>
			<result property="common" column="common"/>
		</association>
		<association property="profession" javaType="Profession">
			<id property="professionNo" column="professionno"/>
			<result property="professionName" column="professionName"/>
			<association property="department" javaType="Department">
				<id property="departmentNo" column="departmentNo"/>
				<result property="departmentName" column="departmentName"/>
			</association>
		</association>
		
	</resultMap>

<!-- 
	 <select id="findUserByUserId" parameterType="String" resultType="Student">
	 	select * from student where sno = #{sno}
	 </select>
	  -->
	 <select id="findTeacherByTno" parameterType="String" resultType="Teacher">
	 	select * from teacher where tno = #{tno}
	 </select>
	 
	 <select id="findAdminByAid" parameterType="String" resultType="Admin">
	 	select * from admin where aid = #{aid}
	 </select>
	 
	 <select id="findUserByUserId" resultMap="studentResult">
	 	select s.* ,p.* , d.* , c.*
		from student s
		left join profession p 
		on s.professionno = p.professionNo
		left join department d 
		on p.departmentNo = d.departmentNo
		left join credit c
		on s.sno = c.sno
		where s.sno = #{sno}
	 </select>
	 
	 

</mapper>