<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-config.dtd">  

	<configuration>
	<!-- 实体类，简称     设置 别名 -->
	<typeAliases>
		<typeAlias alias="Student" type="model.Student"/> 
		<typeAlias alias="ContactMessage" type="model.ContactMessage"/>
		<typeAlias alias="Teacher" type="model.Teacher"/>
		<typeAlias type="model.Admin" alias="Admin"/> 
		<typeAlias type="model.Profession" alias="Profession"/>
		<typeAlias type="model.Department" alias="Department"/>
		<typeAlias type="model.Credit" alias="Credit"/>
		<typeAlias type="model.CourseTongXuan" alias="CourseTongXuan"/> 
		<typeAlias type="model.SelectCourse" alias="SelectCourse"/>
		
	</typeAliases>
	
<!-- 实体接口映射资源 -->
<!-- 
       	说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml 
-->  
<!-- 
    <mappers>  
        <mapper resource="mapper/userMapper.xml" />  
        <mapper resource="mapper/contactMessageMapper.xml"/>
    </mappers>
 -->
</configuration>